.header {
    z-index: 1020;
    margin-bottom: 0;
    background: #f6f6f6;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #f6f6f6 0%, #ffffff 44%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f6f6f6), color-stop(44%, #ffffff), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(left, #f6f6f6 0%, #ffffff 44%, #ffffff 100%);
    background: -o-linear-gradient(left, #f6f6f6 0%, #ffffff 44%, #ffffff 100%);
    background: -ms-linear-gradient(left, #f6f6f6 0%, #ffffff 44%, #ffffff 100%);
    background: linear-gradient(to right, #f6f6f6 0%, #ffffff 44%, #ffffff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=1);
}
.navbar {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}
.navbar.navbar-inverse {
    background: #2d353c;
}
.navbar.navbar-inverse .navbar-brand, .navbar.navbar-inverse .navbar-nav>li>a {
    color: #a8acb1;
}
.navbar.navbar-inverse .navbar-form .form-control {
    background: url(../img/transparent/black-0.2.png);
    background: rgba(0, 0, 0, .2);
    border-color: #1F2429;
    border-color: rgba(0, 0, 0, .2);
    color: #a8acb1;
}
.navbar-brand {
    margin-right: 10px;
    padding: 12px 20px;
    height: 54px;
    width: 220px;
    font-weight: 100;
    font-size: 18px;
    line-height: 30px;
}
.navbar-default .navbar-brand {
    color: #333
}
.navbar-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
}
.navbar-toggle.pull-left {
    margin-left: 15px;
    margin-right: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #333;
}
.navbar-toggle: focus, .navbar-toggle: hover {
    background: none!important;
    opacity: .6;
    filter: alpha(opacity=60);
}
.navbar-nav>li>a {
    line-height: 20px;
    padding: 15px 15px;
}
.navbar-default .navbar-nav>li>a {
    color: #585663;
}
.navbar-nav>li>a: focus, .navbar-nav>li>a: hover {
    opacity: .6;
    filter: alpha(opacity=60);
}
.navbar-nav>.open>a, .navbar-nav>.open>a: focus, .navbar-nav>.open>a: hover {
    background: none!important;
    color: #333;
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-form {
    margin: 20px 0;
}
.fade .navbar-form .form-control {
    -webkit-animation: none;
}
.navbar-form .form-control {
    width: 200px;
    padding: 5px 15px;
    height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.navbar-form .form-control: focus {
    width: 300px;
    animation: expand .2s;
    -webkit-animation: expand .2s;
}
@keyframes expand {
    from {
        width: 200px;
    }
    to {
        width: 300px;
    }
}
@-webkit-keyframes expand {
    from {
        width: 200px;
    }
    to {
        width: 300px;
    }
}
.navbar-form .btn-search {
    position: absolute;
    right: 15px;
    top: 20px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    background: 0 0;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
}
.navbar-nav>li>.dropdown-menu {
    border-top: 1px solid #eee;
}
.navbar-nav>li>.dropdown-menu.media-list .media-heading {
    font-weight: 600;
}
.navbar-nav>li>a .label {
    position: absolute;
    top: 7px;
    right: 3px;
    display: block;
    background: #ff5b57;
    line-height: 12px;
    font-weight: 300;
    padding: .3em .6em;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.navbar-user img {
    float: left;
    width: 35px;
    height: 35px;
    margin: 0px 10px 0 0;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #333;
}
.navbar .navbar-nav>li.divider {
    height: 34px;
    margin-top: 10px;
    background: #e2e7eb;
    width: 1px;
}
.navbar.navbar-inverse .navbar-nav>li.divider {
    background: #3F4B55;
}
.designation {
    color: #ccc;
}
#header .btn-default {
    padding: 3px 9px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 2px 3px 0px;
    border-color: #ffffff;
}
#header .btn-default .fa {
    cursor: pointer;
    color: #797979;
}
#header .user-nav li {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}
#header .user-nav li.dropdown.messages .dropdown-menu {
    width: 350px;
}
#header .user-nav li.dropdown.messages .dropdown-menu {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    left: -150px;
    top: 48px;
    background-color: #ffffff;
    border: none;
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
}
#header .user-nav li.dropdown.messages .dropdown-menu:before {
    bottom: 100%;
    left: 48%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #2e6da4;
    border-width: 8px;
    margin-left: -8px;
}
#header .user-nav li.dropdown.messages.dd-alerts .dropdown-menu:before {
    bottom: 100%;
    left: 48%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #69534f;
    border-width: 8px;
    margin-left: -8px;
}
#header .user-nav li.dropdown.messages.dd-progress .dropdown-menu:before {
    bottom: 100%;
    left: 48%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #ec971f;
    border-width: 8px;
    margin-left: -8px;
}
#header li.dropdown ul.dropdown-menu.alert > li h1 {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background-color: #2e6da4;
    margin: 0;
    font-size: 13px;
    padding: 10px;
    font-weight: 400;
    color: white;
}
#header li.dropdown ul.dropdown-menu.alert > li h1.alert {
    background-color: #d9534f;
}
#header li.dropdown ul.dropdown-menu.alert > li h1.progress {
    background-color: #ec971f;
}
#header .messages {
    margin: 15px 8px;
}
#header .messages .badge {
    position: absolute;
    top: -10px;
    left: 20px;
    background: #d9534f;
}
#header .dropdown.messages .dropdown-menu > li {
    display: block;
}
#header li.dropdown ul.dropdown-menu.alert > li h1 {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background-color: #2e6da4;
    margin: 0;
    font-size: 13px;
    padding: 10px;
    font-weight: 400;
    color: white;
}
.menu-img {
    padding-right: 5px;
}
#header .options i {
    color: #797979;
    font-size: 1.1em;
}
#header .user-nav li.dropdown.messages .dropdown-menu > li > a {
    margin: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-color: #fcfcfc;
    color: #797979;
}
#header .user-nav li.dropdown.messages .dropdown-menu > li > a .message-info {
    vertical-align: top;
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
    width: 225px;
}
#header .user-nav li.dropdown.messages .dropdown-menu > li > a .message-info .sender {
    font-weight: 700;
    color: #000;
}
#header .user-nav li.dropdown.messages .dropdown-menu > li > a .message-info .message-content {
    white-space: normal;
    margin-top: 5px;
}
#header .user-nav li .profile-photo {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
#header .user-nav li.dropdown.messages .dropdown-menu > li:last-child a {
    background-color: white;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    text-align: right;
    padding: 10px 15px;
    border-top: 1px solid #f9f9f9;
}
#search {
    border-right: 1px solid #ccc;
}
#profile {
    border-left: 1px solid #ccc;
}
@media only screen and (max-width: 660px) {
    #header {
        height: 120px;
    }
    #header .brand {
        width: 100%;
    }
    .user-nav li {
        font-size: 12px;
    }
}
@media only screen and (max-width: 479px) {
    #header .dropdown.messages {
        display: none;
    }
    #profile {
        border: none;
    }
} 
@media only screen and (max-width: 812px){
	#page-wrapper{
		margin-top: 120px;
	}
}
#page-wrapper{
	margin-top: 70px;
}
@media only screen and (max-width: 768px) {
    .nav-brand {
        padding: 5px;
    }
    .navbar-form {
        border: none;
        margin: 0;
        padding: 5px;
    }
    .navbar-user img {
        margin-top: -10px;
    }
    .navbar-nav {
        margin: 0px -12px;
    }
    .navbar-form .btn-search {
        top: 7px;
        right: 5px;
    }
}
.theme-panel {
    position: fixed;
    right: -175px;
    top: 150px;
    z-index: 1020;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    width: 175px;
    -webkit-transition: right .2s linear;
    -moz-transition: right .2s linear;
    transition: right .2s linear
}
.theme-panel.active {
    right: 0
}
.theme-panel .theme-collapse-btn {
    position: absolute;
    left: -30px;
    top: 10%;
    margin-top: -15px;
    width: 34px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    background: #000;
    border-radius: 4px 0 0 4px;
    text-align: center;
    box-shadow: -1px 0 3px -1px rgba(0, 0, 0, .4);
    -webkit-box-shadow: -1px 0 3px -1px rgba(0, 0, 0, .4);
    -moz-box-shadow: -1px 0 3px -1px rgba(0, 0, 0, .4)
}
.theme-panel .theme-panel-content {
    margin: -15px;
    padding: 15px;
    background: #fff;
    position: relative;
    z-index: 1020;
}

footer .navbar-footer{
	min-height: 25px;
	height: 25px;
}
footer .navbar-footer .navbar-text{
	color:#fff;
	margin-top: 4px;
}

#main-menu-toggle {
    width: 56px!important;
    position: fixed;
    left: 0;
}




/*to do styles*/

.main-box {
    border: 1px solid #e7ebee;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 3px;
    background-clip: padding-box;
}
.main-box .main-box-header {
    min-height: 50px;
    padding: 10px 20px;
}
.main-box h2 {
    font-size: 1.3em;
    line-height: 29px;
    margin: 0;
    padding: 0;
}
.main-box .main-box-body {
    padding: 0 20px 20px 20px;
}
.widget-todo {
    list-style: none;
    margin: 0;
    padding: 0;
}
widget-todo > li {
    border-bottom: 2px solid #ebebeb;
    padding: 10px 5px;
}
.widget-todo .name {
    float: left;
}
.checkbox-nice {
    position: relative;
    padding-left: 15px;
}
.checkbox-nice input[type=checkbox] {
    visibility: hidden;
}
/*to draw vertical line for time line*/

.itemdiv.dialogdiv:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    left: 19px;
    width: 3px;
    max-width: 3px;
    background-color: #E1E6ED;
    border: 1px solid #D7DBDD;
    border-width: 0 1px;
}
